<h1>GitHub Issues</h1>
<div class="my-5 border-b-2 border-blue-500"></div>

<section class="grid grid-cols-1 sm:grid-cols-3 gap-2">
    
    <!-- filtro -->
    <div class="flex flex-col col-span-3">
        <div class="flex gap-2">
            <button class="btn active">All</button>
            <button class="btn ">Open</button>
            <button class="btn ">Closed</button>
        </div>
    </div>

    <div class="mt-4 flex flex-col col-span-2">
        @if (issuesQuery.isLoading()) {
            <p>Loading issues...</p>
        } @else {
            @for (issue of issuesQuery.data(); track issue.id) {
                <app-issue-item [issue]="issue"/>
            } @empty {
                <p>There isn't issues to load</p>
            }
        }
    </div>

    <!-- labels -->
    <div>
        <!-- TODO: Spinner -->
         @if(labelsQuery.isLoading()) {
            <p>Loading labels...</p>
         } @else {
            <!-- <pre>
                {{ labelsQuery.data() | json}}
            </pre> -->
            <app-labels-selector [labels]="labelsQuery.data() ?? []"/>
         }

        <!-- TODO: Label Selector -->
    </div>
</section>